<ion-header>
	<ion-toolbar>
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title slot="secondary">Instagram Story<sup>&beta;</sup></ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form>
		<ion-item>
			<ion-label>story owner</ion-label>
			<ion-input type="text" [disabled]="processing" [clearInput]="true" placeholder="https://www.instagram.com/stories/OWNER" [required]="true" [(ngModel)]="storyID" name="id"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>story #</ion-label>
			<ion-input type="number" [disabled]="processing" [clearInput]="true" placeholder="number" [required]="true" [(ngModel)]="storyNumber" name="number"></ion-input>
		</ion-item>
		<ion-button [disabled]="processing" (click)="submit(storyID, storyNumber)">submit</ion-button>
	</form>
	<ion-progress-bar *ngIf="processing" color="primary" type="indeterminate"></ion-progress-bar>
	<scr-web-urls [urls]="urls"></scr-web-urls>
</ion-content>