<ion-list>
	<ion-item *ngIf="history !== undefined && history.urls.length > 0">
		<ion-label>Categories</ion-label>
		<ion-select interface="action-sheet" multiple="true" placeholder="Select Category" [value]="history.categories">
			<ion-select-option *ngFor="let option of options" [value]="option">
				<ion-chip>
					<ion-label>{{option}}</ion-label>
				</ion-chip>
			</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-item *ngFor="let url of history.urls"z>
		<ion-grid>
			<ion-row>
				<ion-col size="auto">
					<ion-segment #segment value="none">
						<ion-segment-button value="show">
							<ion-icon name="image-outline" *ngIf="url.includes('.jpg')"></ion-icon>
							<ion-icon name="film-outline" *ngIf="url.includes('.mp4')"></ion-icon>
						</ion-segment-button>
						<ion-segment-button value="none">
							<ion-label>None</ion-label>
						</ion-segment-button>
						<ion-segment-button value="crop">
							<ion-icon name="crop-outline"></ion-icon><sup style="text-transform: lowercase;">&alpha;</sup>
						</ion-segment-button>
					</ion-segment>
				</ion-col>
				<ion-col size="auto">
					<ion-button color="danger" (click)="deleteFile(url)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
				</ion-col>
				<ion-col size="auto">
					<a [href]="url" target="_blank" rel="noopener noreferrer">{{url.split("/").slice(5).join("/")}}</a>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="auto" *ngIf="segment.value === 'show'">
					<img *ngIf="url.includes('.jpg')" [src]="url">
					<video *ngIf="url.includes('.mp4')" [src]="url" [muted]="true" controls loop></video>
				</ion-col>
				<!-- <ion-col *ngIf="segment.value === 'crop'">
					<ion-grid>
						<ion-row>
							<ion-col size="auto">
								<ion-button fill="clear">Done</ion-button>
							</ion-col>
							<ion-col size="auto">
								<ion-button fill="clear" (click)="cropper.cropper.rotate(90)">Rotate Clockwise</ion-button>
							</ion-col>
							<ion-col size="auto">
								<ion-button fill="clear" (click)="cropper.cropper.rotate(-90)">Rotate Anti-clockwise</ion-button>
							</ion-col>
							<ion-col size="auto">
								<ion-button fill="clear" (click)="cropper.cropper.scaleY(-1)">Flip Horizontally</ion-button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<angular-cropper #cropper [imageUrl]="url" [cropperOptions]="{autoCropArea: 1}"></angular-cropper>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col> -->
			</ion-row>
		</ion-grid>
	</ion-item>
</ion-list>