<ion-list>
	<ion-item *ngFor="let url of urls; let i = index">
		<ion-grid>
			<ion-row>
				<ion-col size="auto">
					<ion-segment #segment value="none">
						<ion-segment-button value="show"	>
							<ion-icon name="image-outline" *ngIf="url.includes('.jpg')"></ion-icon>
							<ion-icon name="film-outline" *ngIf="url.includes('.mp4')"></ion-icon>
						</ion-segment-button>
						<ion-segment-button value="none">
							<ion-label>None</ion-label>
						</ion-segment-button>
						<ion-segment-button value="crop">
							<ion-icon name="crop-outline"></ion-icon>
						</ion-segment-button>
					</ion-segment>
				</ion-col>
				<ion-col size="auto">
					<a [href]="url" target="_blank" rel="noopener noreferrer">{{url}}</a>
				</ion-col>
				<ion-col>
					<ion-button color="danger" (click)="deleteFile(url)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="auto" *ngIf="segment.value === 'show'">
					<img *ngIf="url.includes('.jpg')" [src]="url">
					<video *ngIf="url.includes('.mp4')" [src]="url" controls [muted]="true" loop></video>
				</ion-col>
				<!-- <ion-col *ngIf="segment.value === 'crop'">
					<ion-grid>
						<ion-row>
							<ion-col size="auto">
								<ion-button fill="clear" (click)="finishEdit(cropper.crop())">Done</ion-button>
							</ion-col>
							<ion-col size="auto">
								<ion-button fill="clear" (click)="rotateRight(i)">
									<ion-icon name="refresh-outline"></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<image-cropper
									#cropper
									[maintainAspectRatio]="false"
									[imageURL]="url"
									[transform]="transforms[i]"
									format="jpeg"
								></image-cropper>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col> -->
			</ion-row>
		</ion-grid>
	</ion-item>
</ion-list>