div, ion-col {
	display: flex;
	align-items: center;
}

ion-col > img, video, a {
	max-width: 100vw;
}
// https://www.thepolyglotdeveloper.com/2019/06/image-cropping-zooming-scaling-angular-javascript/
// https://alyle.io/components/image-cropper