<ion-header>
	<ion-toolbar>
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title slot="secondary">Authentication</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-segment (ionChange)="selectSegment($event)" [(ngModel)]="authOption" name="auth-type">
			<ion-segment-button value="sign_up" id="sign_up" [disabled]="authOption === 'sign_up'">
				<ion-label>sign-up</ion-label>
			</ion-segment-button>
			<ion-segment-button value="sign_in" id="sign_in" [disabled]="authOption === 'sign_in'">
				<ion-label>sign-in</ion-label>
			</ion-segment-button>
			<ion-segment-button value="sign_out" id="sign_out" [disabled]="authOption === 'sign_out'">
				<ion-label>sign-out</ion-label>
			</ion-segment-button>
		</ion-segment>
		<ion-item>
			<ion-label>platform</ion-label>
			<ion-select interface="action-sheet" placeholder="platform" [(ngModel)]="platform" name="platform">
				<ion-select-option value="instagram">Instagram</ion-select-option>
				<ion-select-option value="vsco" [disabled]="true">VSCO</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="authOption !== 'sign_out'">
			<ion-label>username</ion-label>
			<ion-input type="text" [(ngModel)]="usernameField" name="username"></ion-input>
		</ion-item>
		<ion-item *ngIf="authOption !== 'sign_out'">
			<ion-label>password</ion-label>
			<ion-input *ngIf="authOption === 'sign_in'" type="password" [(ngModel)]="passwordField" name="current-password" autocomplete="current-password"></ion-input>
			<ion-input *ngIf="authOption === 'sign_up'" type="password" [(ngModel)]="passwordField" name="new-password"></ion-input>
		</ion-item>
		<ion-button *ngIf="authOption === 'sign_up'" (click)="signUp(usernameField, passwordField)">sign-up</ion-button>
		<ion-button *ngIf="authOption === 'sign_in'" (click)="signIn(usernameField, passwordField)">sign-in</ion-button>
		<ion-button *ngIf="authOption === 'sign_out'" (click)="signOut()">sign-out</ion-button>
	</ion-list>
	<ion-progress-bar *ngIf="processing" color="primary" type="indeterminate"></ion-progress-bar>
	<h3>Getting started:</h3>
	<ol>
		<li><a href="#sign_up" (click)="authOption = 'sign_up'">sign-up</a> with your social network credentials.</li>
		<li><a href="#sign_in" (click)="authOption = 'sign_in'">sign-in</a> with your social network credentials.</li>
	</ol>
	<form *ngIf="token !== null">
		<h3>Categories</h3>
		<ion-list>
			<ion-item *ngFor="let category of categories.sort()">
				<ion-button color="danger" (click)="deleteCategory(category)">
					<ion-icon name="trash-outline"></ion-icon>
				</ion-button>
				<ion-label>&nbsp;{{category}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>category</ion-label>
				<ion-input type="text" [(ngModel)]="categoryField" name="category" (keyup.enter)="addCategory()"></ion-input>
			</ion-item>
		</ion-list>
	</form>
</ion-content>