<ion-content>
	<form>
		<ion-segment [(ngModel)]="authOption" name="auth-type">
			<ion-segment-button value="sign-up">
				<ion-label>sign-up</ion-label>
			</ion-segment-button>
			<ion-segment-button value="sign-in">
				<ion-label>sign-in</ion-label>
			</ion-segment-button>
			<ion-segment-button value="sign-out">
				<ion-label>sign-out</ion-label>
			</ion-segment-button>
		</ion-segment>
		<ion-item>
			<ion-label>platform</ion-label>
			<ion-select interface="action-sheet" placeholder="platform" [(ngModel)]="platform" name="platform">
				<ion-select-option value="instagram">Instagram</ion-select-option>
				<ion-select-option value="vsco" [disabled]="true">VSCO</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="authOption !== 'sign-out'">
			<ion-label>username</ion-label>
			<ion-input type="text" [(ngModel)]="usernameField" name="username"></ion-input>
		</ion-item>
		<ion-item *ngIf="authOption !== 'sign-out'">
			<ion-label>password</ion-label>
			<ion-input type="password" [(ngModel)]="passwordField" name="password"></ion-input>
		</ion-item>
		<ion-button *ngIf="authOption === 'sign-up'" (click)="signUp(usernameField, passwordField)">sign-up</ion-button>
		<ion-button *ngIf="authOption === 'sign-in'" (click)="signIn(usernameField, passwordField)">sign-in</ion-button>
		<ion-button *ngIf="authOption === 'sign-out'" (click)="signOut()">sign-out</ion-button>
	</form>
	<ion-progress-bar *ngIf="processing" color="primary" type="indeterminate"></ion-progress-bar>
</ion-content>