ion-label {
	font-weight: bold;
}
.img-wrapper {
	min-height: 200px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

ion-col {
	width: 33%;
}

ion-row {
	height: 33%;
}

img, video {
	max-width: 95%;
	max-height: 95%;
}