<ion-header>
	<ion-toolbar>
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title slot="secondary">History</ion-title>
		<ion-buttons slot="end">
			<ion-icon name="funnel"></ion-icon>
			<ion-select interface="action-sheet" placeholder="Item Type" (ionChange)="filterHistories(type, selectedCategory, search)" [(ngModel)]="type">
				<ion-select-option value="all">All Types</ion-select-option>
				<ion-select-option value="instagram">Instagram Post</ion-select-option>
				<ion-select-option value="highlight">Instagram Highlight</ion-select-option>
				<ion-select-option value="story">Instagram Story</ion-select-option>
				<ion-select-option value="tiktok">TikTok Post</ion-select-option>
				<ion-select-option value="vsco">VSCO Post</ion-select-option>
			</ion-select>
			<ion-select interface="action-sheet" placeholder="Categories" (ionChange)="filterHistories(type, selectedCategory, search)" [(ngModel)]="selectedCategory" *ngIf="categories">
				<ion-select-option value="all">All Categories</ion-select-option>
				<ion-select-option value="none">No Category</ion-select-option>
				<ion-select-option *ngFor="let category of categories.sort()" [value]="category">{{category}}</ion-select-option>
			</ion-select>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-header>
	<ion-searchbar placeholder="Post Owner" (ionChange)="filterHistories(type, selectedCategory, search)" [(ngModel)]="search"></ion-searchbar>
</ion-header>
<ion-content>
	<ion-progress-bar *ngIf="processing" color="primary" type="indeterminate"></ion-progress-bar>
	<ion-list *ngIf="!processing">
		<ion-grid>
			<ion-row *ngFor="let group of histories">
				<ion-col *ngFor="let history of group">
					<ion-icon name="logo-instagram" *ngIf="history !== undefined && ['instagram', 'highlight', 'story'].includes(history.type)"></ion-icon>
					<ion-icon name="logo-tiktok" *ngIf="history !== undefined && history.type === 'tiktok'"></ion-icon>
					<ion-icon name="aperture-outline" *ngIf="history !== undefined && history.type === 'vsco'"></ion-icon>
					<ion-icon name="copy-outline" *ngIf="history.urls.length > 1"></ion-icon>
					&nbsp;
					<a *ngIf="history.type !== 'story'" [routerLink]="'/' + history.type" [queryParams]="{id: history.post, owner: history.owner}">
						<b>{{history._id}}</b>
					</a>
					<br>
					<img *ngIf="history.urls[0].includes('.jpg')" [src]="history.urls[0]">
					<video *ngIf="history.urls[0].includes('.mp4')" [src]="history.urls[0]" [muted]="true" controls loop></video>
				</ion-col>
			</ion-row>
		</ion-grid>
		<!-- <ion-item *ngFor="let history of histories">
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-icon name="logo-instagram" *ngIf="history !== undefined && ['instagram', 'highlight', 'story'].includes(history.type)"></ion-icon>
						<ion-icon name="logo-tiktok" *ngIf="history !== undefined && history.type === 'tiktok'"></ion-icon>
						<ion-icon name="aperture-outline" *ngIf="history !== undefined && history.type === 'vsco'"></ion-icon>
						&nbsp;
						<a *ngIf="history.type !== 'story'" [routerLink]="'/' + history.type" [queryParams]="{id: history.post, owner: history.owner}">
							<b>{{history._id}}</b>
						</a>
					</ion-col>
					<ion-col>
						<ion-label>{{history.date | date: "full"}}</ion-label>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<scr-web-urls [history]="history" *ngIf="history !== undefined"></scr-web-urls>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item> -->
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="sliceHistory($event)">
		<ion-infinite-scroll-content loadingText="Loading" loadingSpinner="bubbles"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>