<ion-header>
	<ion-toolbar>
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title slot="secondary">History</ion-title>
		<ion-buttons slot="end">
			<!-- <ion-icon name="funnel"></ion-icon> -->
			<ion-select interface="action-sheet" placeholder="Item Type" (ionChange)="filterHistories(type, selectedCategory, search)" [(ngModel)]="type">
				<ion-select-option value="all">All Types</ion-select-option>
				<ion-select-option value="instagram">Instagram Post</ion-select-option>
				<ion-select-option value="highlight">Instagram Highlight</ion-select-option>
				<ion-select-option value="story">Instagram Story</ion-select-option>
				<ion-select-option value="tiktok">TikTok Post</ion-select-option>
				<ion-select-option value="vsco">VSCO Post</ion-select-option>
			</ion-select>
			<ion-select interface="action-sheet" placeholder="Categories" (ionChange)="filterHistories(type, selectedCategory, search)" [(ngModel)]="selectedCategory" *ngIf="categories">
				<ion-select-option value="all">All Categories</ion-select-option>
				<ion-select-option value="none">No Category</ion-select-option>
				<ion-select-option *ngFor="let category of categories.sort()" [value]="category">{{category}}</ion-select-option>
			</ion-select>
			<ion-button id="open-modal">
				<ion-icon name="calendar-outline"></ion-icon>
			</ion-button>
			<ion-modal trigger="open-modal">
				<ng-template>
					<ion-content>
						<ion-datetime presentation="date"></ion-datetime>
					</ion-content>
				</ng-template>
			</ion-modal>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-header>
	<ion-searchbar placeholder="Post Owner" (ionChange)="filterHistories(type, selectedCategory, search)" [(ngModel)]="search"></ion-searchbar>
</ion-header>
<ion-content>
	<ion-progress-bar *ngIf="processing" color="primary" type="indeterminate"></ion-progress-bar>
	<ion-list *ngIf="!processing">
		<ion-grid>
			<ion-row *ngFor="let group of histories">
				<ion-col *ngFor="let history of group">
					<scr-web-preview [history]="history" [categories]="categories"></scr-web-preview>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="sliceHistory($event)">
		<ion-infinite-scroll-content loadingText="Loading" loadingSpinner="bubbles"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>