ion-label {
	font-weight: bold;
}
.img-wrapper {
	min-height: 200px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

ion-col {
	width: 33%;
}

ion-row {
	height: 33%;
}

ion-datetime {
	height: auto;
	width: auto;
	max-width: 350px;
}

ion-modal {
	--width: 290px;
	--height: 382px;
	--border-radius: 8px;
}

ion-modal ion-datetime {
	height: 382px;
}