<ion-app>
	<ion-header [class.dark-theme]="dark">
		<ion-toolbar>
			<ion-title><ion-icon name="hammer"></ion-icon> scr</ion-title>
			<ion-buttons slot="end">
				<ion-label>Dark theme:</ion-label><ion-toggle (ionChange)="setTheme()" [(ngModel)]="dark"></ion-toggle>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-content [class.dark-theme]="dark">
		<h1 style="text-align:center">Welcome to website!</h1>
		<p>Message: {{ hello$ | async | json }}</p>
	</ion-content>
	<!-- <ion-router-outlet style="margin-top: 50px;"></ion-router-outlet> -->
</ion-app>