<ion-header>
	<ion-toolbar>
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title>TikTok Post</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form>
		<ion-item>
			<ion-label>post owner</ion-label>
			<ion-input type="text" [clearInput]="true" placeholder="https://tiktok.com/@OWNER/video/id" [required]="true"
				[(ngModel)]="postOwner" name="owner"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>post ID</ion-label>
			<ion-input inputmode="numeric" [clearInput]="true" placeholder="https://tiktok.com/@owner/video/ID" [required]="true"
				[(ngModel)]="postID" name="id"></ion-input>
		</ion-item>
		<ion-button (click)="submit(postOwner, postID)">submit</ion-button>
	</form>
	<ion-progress-bar *ngIf="processing" color="primary" type="indeterminate"></ion-progress-bar>
	<ion-list>
		<ion-item *ngFor="let url of urls">
			<ion-grid>
				<ion-row>
					<ion-col size="auto">
						<div>
							<ion-checkbox #show></ion-checkbox>&nbsp;&nbsp;
							<ion-label>show video</ion-label>
						</div>
					</ion-col>
					<ion-col size="auto"><a [href]="url" target="_blank" rel="noopener noreferrer">{{url}}</a></ion-col>
				</ion-row>
				<ion-row *ngIf="show.checked">
					<ion-col size="auto">
						<video [src]="url" controls [muted]="true" loop></video>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>
</ion-content>