<ion-header>
	<ion-toolbar>
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title slot="secondary">TikTok Post</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form>
		<ion-item>
			<ion-label>post owner</ion-label>
			<ion-input type="text" [disabled]="processing" [clearInput]="true" placeholder="https://tiktok.com/@OWNER/video/id" [required]="true"
				[(ngModel)]="postOwner" name="owner"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>post ID</ion-label>
			<ion-input inputmode="numeric" [disabled]="processing" [clearInput]="true" placeholder="https://tiktok.com/@owner/video/ID" [required]="true" [(ngModel)]="postID" name="id"></ion-input>
		</ion-item>
		<ion-button [disabled]="processing" (click)="submit(postOwner, postID)">submit</ion-button>
	</form>
	<ion-progress-bar *ngIf="processing" color="primary" type="indeterminate"></ion-progress-bar>
	<scr-web-urls [history]="history" *ngIf="!processing"></scr-web-urls>
</ion-content>